---
layout: base.njk
---

{% for module in modules %}
  {% set knownTypes = ["grid", "hero", "image-grid", "large-link", "project-hero", "single-column", "spacer"] %}
  {% if module.type in knownTypes %}
    {% include "modules/" + module.type + ".njk" %}
  {% endif %}
{% endfor %}

{{ content | safe }}
