---
layout: base.njk
---

{% for module in modules %}
  {% set knownTypes = ["hero", "text", "split"] %}
  {% if module.type in knownTypes %}
    {% include "modules/" + module.type + ".njk" %}
  {% endif %}
{% endfor %}
