---
layout: page.njk
---

{# Close with a link to the next project in the collection (wraps around). #}
{% set nextWork = collections.work | nextInCollection(page.url) %}
{% if nextWork %}
  {% set module = { size: "xl" } %}
  {% include "modules/spacer.njk" %}
  {% set module = { eyebrow: "Up Next", headline: nextWork.data.title, link: nextWork.url } %}
  {% include "modules/large-link.njk" %}
{% endif %}
