<section class="large-link">
  <a class="large-link__anchor" href="{{ module.link }}">
    {% if module.eyebrow %}
      <span class="large-link__eyebrow">{{ module.eyebrow }}</span>
    {% endif %}
    {% if module.headline %}
      <span class="large-link__headline">
        {{ module.headline }}
     </span>
    {% endif %}
  </a>
</section>
