@use "variables" as *;
@use "modules/hero";
@use "modules/text";
@use "modules/split";
@use "modules/cta";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-sans;
  color: $color-text;
  background: $color-bg;
  line-height: 1.6;
  background: green;
}
