@use "utils/tokens" as *;
@use "modules/hero";
@use "modules/grid";
@use "modules/single-column";
@use "modules/spacer";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-sans;
  color: $color-text;
  background: $color-bg;
  line-height: 1.6;
}
