@use "../utils/container" as *;

.single-column {
  @include container();
}

.single-column__heading {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  max-width: 50ch;
}

.single-column__body {
  line-height: 1.8;

  > * + * {
    margin-top: 1.5rem;
  }
}
