@use "../utils/container" as *;
@use "../utils/type" as *;

.single-column {
  @include container();
}

.single-column__heading {
  @include font("body-large");
  margin-bottom: 1rem;
  max-width: 75ch;
}

.single-column__body {
  @include font("body");

  > * + * {
    margin-top: 1.5rem;
  }
}
